#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  background-color: tomato;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30% 30% 50% 50%;
  box-shadow: 4px 4px 1px 1px black;
  max-width: 1280px;
  min-height: 200px;
  margin: 0 auto;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grass-wrapper {
  display: flex;
}

.grass {
  background-color: green;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 0 0;
  box-shadow: 4px 4px 1px 1px black;
  width: 42px;
  height: 20px;
}


.setter-wrapper {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#break-label {
  margin-top: 24px;
}


#break-label::before,
#break-label::after {
  content: '-----';
}
#session-label::before,
#session-label::after {
  content: '------';
}
#timer-label::before,
#timer-label::after {
  content: '-----------';
}

#break-length,
#session-length,
#time-left {
  color: green;
  font-size: 1.5em;
  margin: 8px 8px;
}

#author {
  font-family: Silkscreen;
  color: tomato;
}
