:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

body {
  background-color: gold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

label {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(148, 148, 148);
  padding: 0.6em 1.2em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: red;
}

a {
  text-decoration: none;
  transition: ease 0.5s;
}
a:hover{
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 8px white;
  transition: ease 0.5s;
}

p {
  font-size: 1.4em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
