:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

body {
  background-color: gold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

label {
  color: yellow;
  font-weight: 600;
  font-size: 1.2em;
}
label::before,
label::after {
  margin: 4px;
}

button {
  width: 32px;
  border-radius: 8px;
  padding: 0.3em 0;
  margin: 0 12px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  border-color: rgb(255, 99, 71);
}
button:active {
  transform: translate(1px, 1px);
}

h1 {
  text-shadow: 4px 4px 1px black;
  color: rgb(255, 99, 71);
}

a {
  padding: 4px 8px;
  border-radius: 10px;
  text-decoration: none;
  transition: ease 0.5s;
}
a:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgb(255, 255, 255);
  transition: ease 0.5s;
}

p {
  font-size: 1.4em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgb(255, 255, 255);
  }
  button {
    background-color: rgb(249, 249, 249);
  }
}
